.container {
  margin-top: 65px;

  .gameContainer {
    margin-bottom: 20px;
  }

  .backButton {
    display: flex;
    align-items: center;
    margin-left: 10px;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
