@import '../../styles/colors.scss';

.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  p {
    font-weight: normal;
    gap: 5px;
    display: flex;
    font-weight: bold;
    color: #000;
    display: flex;
  }

  .icons_input {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    font-weight: bold;

    &:hover {
      span {
        color: $septenary;
      }
    }

    span {
      font-weight: normal;
      gap: 5px;
      display: flex;
      font-weight: bold;
      color: #000;
      display: flex;
      transition: 0.2s;

      svg {
        font-size: 18px;
      }
    }
  }
}
