@import '../../styles/colors.scss';

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  height: 60px;
  background-color: $senary;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  div {
    @media screen and (max-width: 768px) {
      justify-content: center;
    }
    display: flex;
    max-width: 1400px;
    min-width: 1100px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    img {
      @media screen and (max-width: 768px) {
        object-fit: contain;
        background: none;
        background: none;
        width: 80px;
        height: 50%;
      }
      width: 100px;
      height: 50%;
      background: rgb(252, 252, 252);
      background: linear-gradient(
        180deg,
        rgba(252, 252, 252, 1) 0%,
        rgba(193, 193, 204, 1) 67%,
        rgba(252, 252, 252, 1) 100%
      );
      padding: 10px;
    }

    nav ul {
      @media screen and (max-width: 768px) {
        max-width: 250px;
        flex-wrap: wrap;
        gap: 5px;

        li {
          font-size: 1rem;
        }
      }
      display: flex;
      gap: 15px;

      a {
        color: white;
      }

      a:hover {
        text-decoration: underline;
      }
    }

    form {
      @media screen and (max-width: 768px) {
        display: none;
      }
      display: flex;
      align-items: center;
      background-color: $septenary;
      padding: 2px 15px;
      border-radius: 10px;
      gap: 5px;

      input {
        outline: none;
        font-size: 16px;
        padding: 5px;
      }
    }
  }
}

.profile {
  display: flex;
  align-items: center;
  gap: 15px;

  p {
    @media screen and (max-width: 768px) {
      display: none;
    }
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: bold;
  }

  button {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 16px;

    &:hover {
      text-decoration: underline;
    }
  }
}

.removedInMobile {
  @media screen and (max-width: 768px) {
    display: none;
  }
}
