.container {
  margin-top: 65px;
  display: flex;
  justify-content: space-between;
  width: 100%;

  .content {
    display: flex;
    flex-direction: column;
    max-width: 1170px;
    width: 100%;
    margin: 10px;
  }
}