@import '../../styles/colors.scss';

.header {
  background-color: $warning;
  border: 5px solid white;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;

  span {
    color: $danger;
    margin-right: 5px;
    font-weight: bold;
    padding-left: 5px;
  }
}

.footer {
  background-color: $quaternary;
  margin: 20px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.container {
  display: flex;
  height: 80vh;
  min-height: 450px;
  max-height: 550px;
  margin: 20px;
  gap: 20px;

  .contentContainer {
    width: 70%;
    height: 100%;
    max-height: 855px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    img {
      width: 300px;
      height: 150px;
      object-fit: contain;
    }
    div {
      text-align: center;
      p {
        span {
          font-weight: bold;
          color: $tertiary;
        }
      }
    }
  }
  .userContainer {
    width: 430px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .loginBox {
      border: 5px solid white;
      background-color: $secondary;
      height: 100%;
      max-height: 855px;
      display: flex;
      gap: 20px;
      flex-direction: column;
      p {
        padding-top: 20px;
        text-align: center;
      }
      padding: 20px;
      form {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 20px;
        #check {
          display: flex;
          align-items: center;
          gap: 5px;
          padding-left: 10px;
        }
        label {
          align-items: center;
          justify-content: space-between;
          display: flex;
          width: 100%;
          input {
            margin-top: 5px;
            padding: 5px;
            width: 75%;
          }

          input:-webkit-autofill {
            -webkit-box-shadow: 0 0 0 30px white inset;
          }
          input:-webkit-autofill {
            -webkit-text-fill-color: black !important;
          }

          input[type='checkbox'] {
            width: 20px;
            height: 20px;
            margin-left: 30px;
            margin-right: 5px;
          }
        }
        p {
          margin-left: 55px;
          padding: 0;
          text-align: start;
          color: gray;
        }
        button {
          width: 50px;
          margin-left: 65px;
          padding: 5px;
        }
      }
    }
    .registerBox {
      background-color: $secondary;
      display: flex;
      gap: 5px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
      border: 5px solid white;
      a {
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  }
}
