.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  p {
    font-weight: normal;
    gap: 5px;
    display: flex;
    span {
      font-weight: bold;
    }

    svg {
      width: 20px;
      height: 20px;
    }
  }

  a {
    color: #000;
    display: flex;
    gap: 5px;

    &:hover {
      text-decoration: underline;
    }
  }
}
