.container {
  margin-top: 65px;
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  @media screen and (max-width: 768px) {
    .content {
      width: 100vw;
      margin: 0;
      padding: 0;
    }
  }
}