@import '../../styles/colors.scss';

.container {
  @media screen and (max-width: 768px) {
    width: 100vw;
    margin: 0;
    margin-bottom: 10px;
  }
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  width: 700px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .noPosts {
    text-align: center;
    padding-block: 50px;
  }
}