.textGreen {
  color: #047857;
  @media screen and (max-width: 768px) {
  }
}

.textBlack {
  color: #000;
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 0.5rem;
}
